@import "./../../colors.scss";

.c-search {
  display: flex;
  background-color: $bg-gray;
  height: 35px;
  border: $bg-blue 2px solid;
  border-radius: 5px;
  margin: 20px 0;
  margin: 20px auto;
  width: 300px;
  max-width: 100vw;

  &__input {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    width: calc(100% - 46px);
  }

  &__button {
    height: 100%;
    background-color: $bg-blue;
    border: $bg-blue 2px solid;

    &:hover {
      background-color: $bg-blue-dark;
      border: $bg-blue-dark 2px solid;
    }
  }

  &__icon {
    color: $bg-white;
  }
}
