$bg-gray-dark: #24292e;
$bg-blue: #0366d6;
$bg-blue-light: #f1f8ff;
$bg-blue-dark: #044289;
$bg-gray: #f6f8fa;
$bg-red-light: #ffdce0;
$bg-red: #d73a49;
$bg-white: #fff;
$text-gray: #444d56;
$bg-black: #000;
